<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [120]:
f = open('test.txt','r').read()

Total words, frequncy of unique, total unique

In [121]:
tem = f.split(' ')

In [122]:
len(tem) #total words

11

In [123]:
len(set(tem)) # unique

4

In [124]:
d = {}
for a in set(tem):
    d[a] = tem.count(a)
d

{'hi': 4, 'is': 1, 'the': 1, 'hello': 5}

- a) Extract content from two docs
- b) Count total nos of words and terms(after stop words)
- c) Represent them as follows
    D1      D2
T1 [4,10]           positional value
T2

- d) Search term in list and print its count and position

In [125]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
stop_words = set(stopwords.words('english'))

In [126]:
stop_words

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [127]:
f1, f2 = open('test.txt','r').read(),open('test2.txt','r').read()

In [128]:
tokenized_f1, tokenized_f2 = word_tokenize(f1),word_tokenize(f2)

In [129]:
tokenized_f1, tokenized_f2

(['hello',
  'is',
  'the',
  'hello',
  'hello',
  'hello',
  'hi',
  'hello',
  'hi',
  'hi',
  'hi'],
 ['hello',
  'hello',
  'hello',
  'hello',
  'hi',
  'hello',
  'hi',
  'hi',
  'hi',
  'web',
  'a',
  'the',
  'is',
  'an',
  'hundred'])

In [130]:
def rem_st(x):
    return [p for p in x if p not in stop_words]

In [131]:
tokenized_f1_rm , tokenized_f2_rm = rem_st(tokenized_f1),rem_st(tokenized_f2)

In [132]:
tokenized_f1_rm , tokenized_f2_rm

(['hello', 'hello', 'hello', 'hello', 'hi', 'hello', 'hi', 'hi', 'hi'],
 ['hello',
  'hello',
  'hello',
  'hello',
  'hi',
  'hello',
  'hi',
  'hi',
  'hi',
  'web',
  'hundred'])

In [133]:
# Total no of words 
len(tokenized_f1), len(tokenized_f2)

(11, 15)

In [134]:
# Total no of terms
len(tokenized_f1_rm) , len(tokenized_f2_rm)

(9, 11)

In [135]:
d_doc1 = {}
import re
for a in tokenized_f1_rm:
    d_doc1[a] = [i.start() for i in re.finditer(a, f1)]
d_doc1

{'hello': [0, 13, 19, 25, 34], 'hi': [31, 40, 43, 46]}

In [136]:
d_doc2 = {}
import re
for a in tokenized_f2_rm:
    d_doc2[a] = [i.start() for i in re.finditer(a, f2)]
d_doc2

{'hello': [0, 6, 12, 18, 27],
 'hi': [24, 33, 36, 39],
 'web': [42],
 'hundred': [58]}

In [137]:
import pandas as pd
import numpy as np

In [138]:
df = pd.DataFrame(columns= ['term','D1','D2']
);df

Empty DataFrame
Columns: [term, D1, D2]
Index: []

In [139]:
df['term'] = list(set(list(d_doc1.keys())+list(d_doc2.keys())));df

      term   D1   D2
0  hundred  NaN  NaN
1      web  NaN  NaN
2       hi  NaN  NaN
3    hello  NaN  NaN

In [140]:
d_doc1

{'hello': [0, 13, 19, 25, 34], 'hi': [31, 40, 43, 46]}

In [151]:
# df[df['term']=='hello']['D1'] = str(d_doc1['hello'])
df.loc[df['term']=='hello','D1'] = str(d_doc1['hello'])

In [155]:
for a in d_doc1:
    df.loc[df['term']==a,'D1'] = str(d_doc1[a])
for a in d_doc2:
    df.loc[df['term']==a,'D2'] = str(d_doc2[a])

In [156]:
df

      term                   D1                  D2
0  hundred                  NaN                [58]
1      web                  NaN                [42]
2       hi     [31, 40, 43, 46]    [24, 33, 36, 39]
3    hello  [0, 13, 19, 25, 34]  [0, 6, 12, 18, 27]

In [158]:
# test = input('Enter word: ')
test = 'hi'
if test in d_doc1:
    print(d_doc1[test])
elif test in d_doc2:
    print(d_doc2[test])
else:
    print('Not found')

[31, 40, 43, 46]